.label {
	color: #04311c;
	display: block;
	font-family: 'Mukta', sans-serif;
	font-size: 15px;
	font-weight: 600;
	padding-right: 14px;
}

.input::placeholder,
.input {
	font-family: 'Mukta', sans-serif;
	font-size: 15px;
	font-weight: 700;
}

.input {
	border: 1px solid #2d8058;
	color: #757575;
	display: block;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 10px;
	min-height: 50px;
	padding: 0 14px;
	width: 100%;
}

.input::placeholder {
	color: #757575;
	font-weight: 600;
}

.input:hover {
	border-left: 3px solid #2d8058;
}

.input:focus {
	border-bottom: 4px solid #d4f3da;
	border: 1px solid #d4f3da;
	color: #2d8058;
	font-weight: 700;
	outline: none;
}

.errorMessage {
	color: #bf0d0d;
	display: block;
	font-size: 14.5px;
}

.errorInput {
	background-color: #fff6f6;
	border: 1px solid #bf0d0d;
	color: #bf0d0d;
	margin-bottom: 2px;
}

.errorInput:focus {
	border: 1px solid #bf0d0d;
}

.twoCol {
	display: inline-block;
	width: 48%;
}

.twoColEnd {
	display: inline-block;
	margin-left: 4%;
	width: 48%;
}

@media (max-width: 550px) {
	.input {
		min-height: 44px;
	}
	.label {
		font-size: 15px;
	}
}
