.label {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  color: #04311c;
  padding-right:  14px;
}

.input {
  display: block;
  /* width: calc(100% - 14px);  */
  border: 1px solid #2d8058;
  width: 100%;
  padding: 0 0 0 14px;
  min-height: 50px;
  margin-bottom: 10px;
  font-size: 15px;
}

.input:focus {
  outline: none;
  border: 1px solid #d4f3da;
  border-bottom: 4px solid #d4f3da;
}

.input::placeholder {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  color: #2d8058;
  font-size: 15px;
}

.errorMessage {
  color: #BF0D0D;
  display: block;
  font-size: 14.5px;
}

.errorInput {
  margin-bottom: 2px;
  border: 1px solid #BF0D0D;
  color: #BF0D0D;
  background-color: #bf0d0d13;
}

