.box {
  box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
  /* height: 400px; */
  height: 100%;
  width: 500px;
  padding: 50px;
  background: #fff;
}

@media (max-width: 637px) {
  .box {
    width: 275px;
    padding: 35px 50px;
  }
}