.header {
	color: #2d8058;
	font-family: 'Mukta', sans-serif;
	font-weight: 700;
	text-align: center;
}

.paragraph {
	font-size: 17px;
	text-align: center;
}

.buttonLink {
	background: none;
	border: none;
	color: #007fad;
	cursor: pointer;
	font: inherit;
	padding: 0;
}

.label {
	border-bottom: 1px solid #04311c;
	color: #04311c;
	display: block;
	font-family: 'Mukta', sans-serif;
	font-weight: 600;
}

.miniLabel {
	display: block;
	font-size: 14px;
}

.iconClose {
	color: #2d8058;
	font-size: 24px;
}

.iconWrapper {
	display: flex;
	justify-content: flex-end;
}

.iconButton {
	background: transparent;
	border: none;
}

@media (max-width: 550px) {
	.header {
		line-height: 2.2rem;
		margin-bottom: 10px;
		text-align: left;
	}
}
