.label {
  display: block;
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
  color: #04311c;
  border-bottom: 1px solid #04311c;
}

.miniLabel,
.warningLabel {
  font-size: 14px;
  display: block;
  border: none;
}

.warningLabel {
  color: #bd0000;
}
