.budgetContainer {
	display: grid;
	grid-template-areas: 'title tabs' 'content content';
	grid-template-columns: 60% 40%;
	grid-template-rows: auto 1fr;
}

.budgetTitle {
	grid-area: title;
}

.budgetTabs {
	align-self: flex-end;
	grid-area: tabs;
	justify-self: flex-end;
}

.tabBtn {
	background: none;
	border: none;
	color: #0f4e31;
}

.tabBtn {
	font-size: 16px;
	padding: 10px 20px;
}

.tabBtn:hover {
	text-decoration: underline;
}

.tabBtnActive {
	background-color: #d4f3da;
	border-bottom: 2px solid #0f4e31;
	border: none;
	font-size: 16px;
}

.budgetItemsList,
.budgetItemsListLoading {
	grid-area: content;
}

.budgetItemsList,
.budgetItemsListLoading {
	padding: 20px;
}

.budgetItemsList {
	background-color: #d4f3da;
	border-radius: 12px;
}

.budgetItemsListLoading {
	background-color: transparent;
}

@media (max-width: 960px) {
	.budgetContainer {
		grid-template-areas: 'title' 'tabs' 'content';
		grid-template-columns: auto;
		grid-template-rows: auto auto 1fr;
	}
}

@media (max-width: 645px) {
	.budgetItemsList {
		padding: 15px 15px 5px 15px;
	}
}

@media (max-width: 480px) {
	.tabBtn {
		font-size: 14px;
		padding: 10px 18px;
	}
}
