/* .parentContainer {
	position: relative;
} */

.relative {
	position: relative;
}

.primaryContainer {
    align-items: center;
    background-color: #fff;
    box-shadow: #0000004f 0px 3px 5px;
    color: #04311c;
    display: grid;
    font-family: 'Cairo', sans-serif;
    grid-template-areas: 'itemContents kebabSpace';
    grid-template-columns: 1fr 50px;
    list-style-type: none;
    margin: 14px;
    padding: 10px 0;
}

.secondaryContainer {
    display: grid;
    grid-template-areas: 'title spent date chip';
    grid-template-columns: 45% 85px 1fr 15%;
}

.title,
.spent {
    padding-left: 15px;
}

.plannerMargin {
    margin: 14px 0px 14px 37px;
}

.backgroundDrag {
    background-color: #d0ffe9;
    border-left: 7px solid #04311c;
}

.secondaryRow {
    display: none;
}

.flex {
    display: flex;
}

.slash {
    margin: 0 5px;
}

.bold {
    font-weight: 700;
}

.under {
    color: #2d8058;
}

.over {
    color: red;
}

@media (max-width: 840px) {
    .primaryContainer {
        align-items: center;
        padding: 6px 0;
        font-size: 13px;
    }

    .secondaryContainer {
        grid-template-areas: 'title date' 'spent chip';
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .title,
    .date {
        border-bottom: 1px solid #62d5b5;
    }

    .date,
    .chip {
        text-align: right;
    }
}

@media (max-width: 420px) {
    .primaryContainer {
        margin: 14px 0;
    }
}
