.container {
  background-color: #fff;
  box-shadow: #0000004f 0px 3px 5px;
  padding: 8px 0;
  margin-bottom: 18px;
  font-family: "Cairo", sans-serif;
  color: #04311c;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 60px;
  grid-template-areas: "title date amount options";
}

.expense {
  background-color: #ffdddd;
}

.title {
  font-weight: 700;
  padding-left: 16px;
  grid-area: title;
}

.date {
  grid-area: date;
}

.amount {
  grid-area: amount;
}

.options {
  grid-area: options;
  place-self: center;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr 1fr 60px;
    grid-template-areas: "title title options" "amount date options";
  }

  .title {
    border-bottom: 1px solid #62d5b5;
  }

  .date {
    text-align: right;
    padding-right: 16px;
  }

  .amount {
    text-align: left;
    padding-left: 16px;
  }
}
