.container {
  background-color: #fff;
  box-shadow: #0000004f 0px 3px 5px;
  padding: 12px 0;
  margin: 14px 12px;
  font-family: "Cairo", sans-serif;
  color: #04311c;
  list-style-type: none;
}

.backgroundDrag {
  background-color: #caf7ea;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.secondaryRow {
  display: none;
}

.flex {
  display: flex;
}

.slash {
  margin: 0 5px;
}

.bold {
  font-weight: 700;
}

.under {
  max-width: max-content;
}

.emptyCell {
  width: 4%;
}

.col1 {
  width: 18%;
}

.col2 {
  width: 16%;
}

.col3 {
  width: 1fr;
}

.col4 {
  width: 15%;
  text-align: center;
}

.col5 {
  width: 6%;
  text-align: center;
}

@media (max-width: 960px) {
  .container {
    padding: 6px 0;
  }

  .initialRow,
  .table {
    display: none;
  }

  .secondaryRow {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "title date options" "budget balance options";
  }

  .bold {
    grid-area: title;
  }

  .flex {
    grid-area: budget;
  }

  .bold,
  .flex {
    padding-left: 12px;
  }

  .date {
    grid-area: date;
    width: 100%;
    text-align: right;
  }

  .under {
    grid-area: balance;
  }

  .date,
  .under {
    justify-self: end;
    padding-right: 12px;
  }

  .options {
    grid-area: options;
    place-self: center;
  }

  .bold,
  .date {
    border-bottom: 1px solid #62d5b5;
  }
}

@media (max-width: 400px) {
  .secondaryRow {
    grid-template-columns: 1fr 1fr 60px;
    grid-template-areas: "title title options" "budget budget options";
  }

  .date,
  .under {
    display: none;
  }

  .bold,
  .flex {
    padding-left: 20px;
  }
}
