.container {
  background-color: #62d5b5;
  border-top: 4px solid #2d8058;
  box-shadow: #0000004f 0px 3px 5px;
  padding: 16px 0;
  margin-bottom: 18px;
  font-family: 'Cairo', sans-serif;
  color: #04311c;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.list {
  padding: 0;
  list-style-type: none;
}

.flex {
  display: flex;
  align-items: center;
}

.title {
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}

.slash {
  margin: 0 5px;
}

.head1 {
  width: 4%;
  text-align: center;
}

.head2 {
  width: 34%;
}

.head3 {
  width: 1fr;
}

.head4 {
  width: 15%;
}

.head5 {
  width: 6%;
  text-align: center;
}

.percentage {
  font-weight: 500;
}

.under,
.over {
  font-size: 14px;
  padding: 5px 15px;
  text-align: center;
  max-width: max-content;
}

.under {
  background-color: #49be9d;
}

.over {
  background-color: #bf0d0d;
}

.bold {
  font-weight: 700;
}

@media (max-width: 960px) {
  .container {
    padding: 6px 0;
  }

  .head1,
  .head5 {
    width: 8%;
  }

  .head2,
  .head3 {
    display: flex;
    width: auto;
    padding-left: 25px;
  }

  .head4 {
    width: 25%;
  }
}

@media (max-width: 645px) {
  .head2,
  .head3 {
    font-size: 14px;
    padding-left: 10px;
  }

  .head4 {
    width: 18%;
    line-height: 20px;
  }
}

@media (max-width: 580px) {
  .head4 {
    display: none;
  }
}

@media (max-width: 480px) {
  .head1,
  .head5 {
    width: 14%;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 16px 0;
  }

  .head3 {
    display: none;
  }
}

@media (max-width: 285px) {
  .title {
    font-size: 15px;
  }
}
