.container {
  background-color: #62d5b5;
  border-top: 4px solid #2d8058;
  box-shadow: #0000004f 0px 3px 5px;
  padding: 12px 0;
  margin-bottom: 14px;
  font-family: 'Cairo', sans-serif;
  color: #04311c;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.list {
  padding: 0;
  list-style-type: none;
}

.activeBalanceChip div,
.activeFraction,
.activeBar {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
}

.title {
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}

.slash {
  margin: 0 5px;
}

.head1 {
  width: 4%;
  text-align: center;
}

.head2 {
  width: 35%;
}

.head3 {
  width: 1fr;
}

.head4 {
  width: 20%;
}

.head5 {
  width: 6%;
  text-align: center;
}

.percentage {
  font-weight: 500;
}

.under,
.over {
  font-size: 14px;
  padding: 5px 15px;
  text-align: center;
  max-width: max-content;
}

.under {
  background-color: #49be9d;
}

.over {
  background-color: #04311c;
  color: #fff;
}

.bold {
  font-weight: 700;
}

@media (max-width: 1200px) {
  .head1 {
    width: 5%;
  }

  .head2 {
    width: 40%;
  }

  .head4 {
    display: none;
  }

  .activeBar {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 12px;
    align-items: center;
  }

  .activeBalanceChip div {
    display: block;
    border-radius: 20px;
    /* margin-left: 12px; */
    padding: 6px 18px;
    font-size: 13px;
  }
}

@media (max-width: 960px) {
  .container {
    padding: 8px 0;
  }

  .head1 {
    width: 4%;
  }

  .head3 {
    display: none;
  }

  .activeBalanceChip div {
    margin-left: 12px;
  }

  .activeFraction {
    display: block;
  }
}

@media (max-width: 625px) {
  .head2,
  .head3 {
    font-size: 14px;
    padding-left: 10px;
  }

  .head4 {
    width: 18%;
    line-height: 20px;
  }
}

@media (max-width: 580px) {
  .head4 {
    display: none;
  }
}

@media (max-width: 480px) {
  .head1 {
    width: 4%;
  }

  .title {
    font-size: 15px;
  }

  .flex {
    font-size: 14px;
  }

  .activeBar {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    margin-top: -5px;
  }

  .activeBalanceChip div {
    margin: 0;
  }
}

@media (max-width: 390px) {
  .container {
    padding: 6px 0;
  }

  .head1,
  .head5 {
    width: 7%;
  }

  .title,
  .toggle {
    font-size: 13px;
  }

  .flex {
    line-height: 1.3;
  }

  .activeBalanceChip div {
    padding: 5px 16px;
    font-size: 12px;
  }

  .slash {
    opacity: 0;
  }
}
