.ddWrapper {
  position: relative;
  font-family: 'Mukta', sans-serif;
}

.ddButton {
  background: none;
  border: none;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #0f4e31;
}

.ddButtonText:hover {
  text-decoration: underline;
}

.ddButton:hover {
  font-weight: 600;
}

.ddArrow {
  font-size: 10px;
  margin-left: 5px;
}

.ddCalendar {
  position: absolute;
  display: grid;
  grid-template-rows: 55px 1fr;
  background-color: #d4f3da;
  width: 255px;
  right: 0;
  box-shadow: #0000003d 0px 3px 8px;
}

.ddCalendarYear {
  align-self: center;
}

.ddCalendarHeader {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.ddCalendarMonths {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #fff;
  place-items: center center;
}

.month {
  color: #2d8058;
  font-weight: 600;
  height: 55px;
  width: 100%;
  background: none;
  border: none;
  border: 1px solid #d4f3da;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.activeMonth,
.month:hover {
  background-color: #2d8058;
  color: #fff;
}

.year {
  margin: 0 20px;
}

.yearBtn {
  color: #0f4e31;
  font-size: 16px;
  background: none;
  border: none;
}

.todayBtnContainer {
  display: flex;
  justify-content: center;
}
