.toggleWrap {
  font-family: "Mukta", sans-serif;
  color: #0f4e31;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.slash {
  padding: 0 11px;
}

.toggleClass {
  background: none;
	padding: 0;
  font-size: 15px;
  border: none;
  color: #0f4e31;
}

.toggleClass:hover {
	text-decoration: underline;
}

.toggleActive {
	font-weight: 700;
	font-size: 15.5px;
}

@media (max-width: 480px) {
  .toggleWrap {
    margin-bottom: 20px;
  }
}
