.sorting {
  font-family: "Cairo", sans-serif;
  color: #0f4e31;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.sortingBtn {
  padding: 0;
  font-size: 15px;
}

.slash {
  padding: 0 11px;
}

.sortingBtn {
  background: none;
  border: none;
  color: #0f4e31;
}

@media (max-width: 480px) {
  .sorting {
    margin-bottom: 20px;
  }
}
