.container {
  background-color: #62d5b5;
  border-top: 4px solid #2d8058;
  box-shadow: #0000004f 0px 3px 5px;
  padding: 12px 0;
  margin-bottom: 14px;
  font-family: 'Cairo', sans-serif;
  color: #04311c;
}

.container:hover {
  background-color: #5acdac;
  box-shadow: none;
}

.container,
.container:hover {
  transition: 400ms ease;
}

.list {
  padding: 0;
  list-style-type: none;
}

.activeBalanceChip div,
.activeFraction,
.activeBar {
  display: none;
}

.backgroundDrag {
  background-color: #cce8ff;
  transition: background-color 0.5s ease;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.flex {
  display: flex;
  align-items: center;
}

.title {
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}

.slash {
  margin: 0 5px;
}

.toggle {
  font-size: 14px;
}

.head1 {
  width: 4%;
  text-align: center;
}

.head2 {
  width: 28%;
}

.head3 {
  width: 1fr;
}

.head4 {
  width: 20%;
}

.head5 {
  width: 6%;
  text-align: center;
}

.percentage {
  font-weight: 500;
}

.under,
.over {
  font-size: 14px;
  padding: 5px 15px;
  text-align: center;
  max-width: max-content;
}

.under {
  background-color: #49be9d;
}

.over {
  background-color: #04311c;
  color: #fff;
}

.balanced {
  background: none;
}

.bold {
  font-weight: 700;
}

@media (max-width: 1265px) {
  .head1 {
    width: 7%;
  }

  .head2 {
    width: 32%;
  }

  .head4 {
    display: none;
  }

  .activeBar {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 12px;
    align-items: center;
  }

  .activeBalanceChip div {
    display: block;
    border-radius: 20px;
    margin-left: 12px;
    padding: 6px 18px;
    font-size: 13px;
  }
}

@media (max-width: 960px) {
  .container {
    padding: 8px 0;
  }

  .head1 {
    width: 10%;
  }

  .head2 {
    width: 35%;
    display: flex;
    width: auto;
    padding-left: 25px;
  }

  .head3 {
    display: none;
  }

  .head5 {
    width: 10%;
  }

  .activeFraction {
    display: block;
  }
}

@media (max-width: 645px) {
  .head2,
  .head3 {
    font-size: 14px;
    padding-left: 10px;
  }
}

@media (max-width: 625px) {
  .activeBar {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    margin-top: -8px;
  }

  .activeBalanceChip div {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .head1,
  .head5 {
    width: 14%;
  }

	.head2 {
		width: 1fr;
	}

  .title {
    font-size: 15px;
  }

	.flex {
		font-size: 14px;
	}
}

@media (max-width: 400px) {
  .head3 {
    display: none;
  }
}

/* @media (max-width: 360px) {
  .flex {
		font-size: 14px;
	}
} */