.tabsWrapper {
  grid-area: tabs;
  align-self: flex-end;
  justify-self: flex-end;
}

.tabBtn {
  background: none;
  border: none;
  color: #0f4e31;
}

.tabBtn {
  padding: 10px 20px;
  font-size: 16px;
}

/* .tabBtn:hover {
  text-decoration: underline;
} */

.tabBtnActive {
  font-size: 16px;
  border: none;
  background-color: #d4f3da;
  border-bottom: 2px solid #0f4e31;
}

@media (max-width: 480px) {
  .tabBtn {
    font-size: 14px;
    padding: 10px 18px;
  }
}
