.video {
  grid-area: video;
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 1185px) {
  .video {
    height: 700px; /* WAS 500 */
  }
}

@media (max-width: 550px) {
  .video {
    /* height: 300px; */
    /* height: auto; */
    height: 100%;
    display: none;
  }
}
