.cardsContainer {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(95px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
  background-color: #d4f3da;
  gap: 15px;
  padding: 20px;
}

.pieCard {
  background-color: #fff;
  display: grid;
  grid-template-rows: 16px 1fr;
  box-shadow: #0000002c 0px 3px 5px;
}

.title {
  align-self: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  padding: 9px;
  text-align: center;
  word-break: break-word;
}

@media (max-width: 1485px) {
  .cardsContainer {
		padding: 0 25% 25px 25%;
	}
}

@media (max-width: 690px) {
  .cardsContainer {
		padding: 0 12% 25px 12%;
	}
}