.container {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-bottom: 20px;
}

.background {
  /* width: 490px; */
  padding: 30px;
  background-color: #D4F3DA;
}

.title {
  padding-bottom: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
}

@media (max-width: 1485px) {
  .background {
    padding: 30px 20%;
  }
}

@media (max-width: 730px) {
  .background {
    padding: 30px 5%;
  }
}