.container {
	display: grid;
	grid-template-rows: auto 1fr;
	margin-bottom: 20px;
	width: 100%;
}

.background {
	background-color: #d4f3da;
	border-radius: 12px;
	/* padding: 30px; */
	/* max-width: 400px; */
}

.backgroundDrag {
	background-color: #cce8ff;
	transition: background-color 0.5s ease;
}

.background,
.backgroundDrag {
	padding: 30px;
}

.container,
.background,
.backgroundDrag {
	overflow-x: hidden;
}

.title {
	padding-bottom: 5px;
}

.list {
	list-style-type: none;
	padding: 0;
}

@media (max-width: 730px) {
	.background {
		padding: 0 16px;
	}

	.title {
		font-size: 17px;
		line-height: 1.5;
		padding-bottom: 10px;
	}
}
