.container {
	align-items: center;
	display: flex;
	grid-area: profile;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.container * {
	margin: 0;
}

.profilePicture {
	border-radius: 50px;
	height: 40px;
	margin-right: 30px;
	width: 40px;
}

.link {
	background: none;
	border: none;
	color: #0f4e31;
	font-family: 'Mukta', sans-serif;
	font-weight: 600;
	margin-right: 30px;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

@media (max-width: 1485px) {
	.container {
		display: none;
	}
}
