.container {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.profilePicture {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  align-self: center;
  margin: 0 30px 12px 0;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  margin-right: 30px;
  font-family: "Cairo", sans-serif;
  color: #0f4e31;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 1485px) {
  .container {
    display: none;
  }
}