.primaryContainer {
	align-items: center;
	background-color: #62d5b5;
	border-radius: 0 0 12px 12px;
	border-top: 4px solid #2d8058;
	box-shadow: #0000004f 0px 3px 5px;
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 10px 15px;
}

.childContainer {
	color: #04311c;
	display: grid;
	font-family: 'Mukta', sans-serif;
	grid-template-areas: 'toggle title budget chip';
	/* grid-template-columns: 15px 1fr 1fr 1fr; */
	grid-template-columns: auto 44% 1fr 20%;
}

.primaryContainer:hover {
	box-shadow: none;
}

.primaryContainer,
.primaryContainer:hover {
	transition: 400ms ease;
}

.deleteContainer,
.formContainer {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.input {
	border: 1px solid #2d8058;
	color: #1e1e1e;
	margin: 0 20px 0 5px;
	padding: 4px 0 4px 6px;
}

.buttonsContainer {
	align-items: center;
	display: flex;
	margin-left: auto;
}

.buttonsContainer button:first-child,
.confirmDelete {
	margin-right: 6px;
}

.confirmDelete {
	margin-left: 10px;
}

.button,
.cancelDelete,
.confirmDelete {
	background-color: #2d8058;
	border-radius: 50px;
	border: none;
	color: #fff;
	font-family: 'Mukta', sans-serif;
	font-size: 12px;
	padding: 2px 15px;
}

.cancelButton {
	background-color: #e3e3e3;
	border-radius: 50%;
	border: none;
	color: #1e1e1e;
	font-size: 10px;
	height: 25px;
	padding: 2px 2px;
	width: 25px;
}

.cancelDelete {
	background-color: #ffdddd;
	color: #1e1e1e;
}

.mobileCancelText {
	display: none;
}

.button:hover,
.confirmDelete:hover {
	background-color: #1f6845;
}

.cancelButton:hover {
	background-color: #d2d2d2;
}

.cancelDelete:hover {
	background-color: #fbcdcd;
}

.list {
	list-style-type: none;
	margin: 10px 0 20px 0;
	padding: 0;
}

.activeBalanceChip,
.activeFraction,
.activeBar {
	display: none;
}

.backgroundDrag {
	background-color: #cce8ff;
	transition: background-color 0.5s ease;
}

.flex {
	align-items: center;
	display: flex;
}

.title {
	font-size: 15px;
	font-weight: 700;
	margin-left: 15px;
	margin-right: 5px;
}

.toggle,
.title,
.budgetGridItem {
	align-self: center;
}

.slash {
	margin: 0 5px;
}

.percentage {
	font-weight: 500;
	margin-left: 8px;
}

.under,
.over {
	font-size: 14px;
	max-width: max-content;
	padding: 5px 15px;
	text-align: center;
}

.under {
	background-color: #49be9d;
}

.over {
	background-color: #04311c;
	color: #fff;
}

.bold {
	font-weight: 700;
}

@media (max-width: 1000px) {
	.childContainer {
		grid-template-areas: 'toggle title budget';
		grid-template-columns: auto 1fr 1fr;
	}

	.balanced,
	.over,
	.under {
		display: none;
	}

	.activeBar {
		align-items: center;
		display: grid;
		grid-template-columns: auto 1fr;
		padding-left: 12px;
	}

	.activeBalanceChip {
		border-radius: 20px;
		display: block;
		font-size: 13px;
		padding: 3px 15px;
	}
}

@media (max-width: 840px) {
	.deleteContainer {
		font-size: 13px;
	}

	.formContainer {
		flex-wrap: wrap;
	}

	.formContainer label,
	.buttonsContainer {
		width: 100%;
	}

	.buttonsContainer {
		margin: 6px 0 4px 0;
	}

	.mobileCancelText {
		display: inline;
		font-size: 11px;
		margin-left: 5px;
	}

	.cancelButton {
		border-radius: 50px;
		padding: 0 12px;
		width: auto;
	}

	.input {
		margin-bottom: 6px;
	}

	.activeBar {
		font-size: 14px;
	}

	.activeFraction {
		display: block;
	}

	.activeBalanceChip {
		margin-right: 12px;
	}

	.budgetGridItem {
		display: none;
	}

	.childContainer {
		grid-template-areas: 'toggle title';
		grid-template-columns: auto 1fr;
	}

	.title,
	.budgetGridItem {
		font-size: 14px;
	}
}

@media (max-width: 540px) {
	.activeBalanceChip {
		padding: 3px 15px;
	}
}

@media (max-width: 420px) {
	.activeBar {
		gap: 15px;
	}

	.activeBalanceChip {
		margin: 0;
	}

	.childContainer {
		padding: 6px 0;
	}

	.title,
	.toggle,
	.activeBar {
		font-size: 13px;
	}

	.flex {
		line-height: 1.3;
		margin-bottom: 4px;
	}

	.activeBalanceChip {
		font-size: 12px;
		padding: 5px 16px;
	}
}

@media (max-width: 390px) {
	.activeFraction {
		display: none;
	}
}
