.buttonBar {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #62d5b5;
	margin-bottom: 30px;
}

.buttonBarTitle {
	padding: 0 15px 10px 0;
}

@media (max-width: 800px) {
	.buttonBarTitle {
		width: 100%;
	}
}