.gridArea {
  grid-area: buttons;
}

.buttonBar {
  display: grid;
  /* grid-template-rows: auto 1fr; */
  grid-template-rows: auto;
  grid-template-columns: 95px auto;
  /* grid-template-areas: 'header' 'buttons'; */
  align-items: center;
  border-bottom: 1px solid #2d8058;
  margin-bottom: 30px;

  grid-template-rows: auto;
  grid-template-areas: 'header children';
}

.buttonBarTitle {
  padding-bottom: 10px;
}

.headerContainer {
  grid-area: header;
}

.buttonContainer {
  grid-area: children;
}

@media (max-width: 800px) {
  .buttonBar {
    grid-template-rows: auto 1fr;
		grid-template-columns: 1fr;
    grid-template-areas: 'header' 'children';
  }
}
