.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr 1fr;
	margin-bottom: 30px;
}

.title {
	align-self: end;
	padding-bottom: 10px;
}

.incomeBar,
.expensesBar {
	align-items: center;
	border-radius: 6px;
	color: #04311c;
	display: grid;
	font-family: 'Mukta', sans-serif;
	font-size: 19px;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 10px;
	padding: 6px 20px;
}

.incomeBar {
	background-color: #d4f3da;
}

.expensesBar {
	background-color: #ffdddd;
}

.barSkeleton {
	margin-bottom: 10px;
}

.barTitle {
	font-size: 16px;
	font-weight: 600;
}

.barAmount {
	justify-self: end;
}
